@use '../../styles/variables' as vars;

.container {
  max-width: 1630px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header__fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.header__menu-burger {
  cursor: pointer;
  padding: 10px;
  margin-left: -10px;
  display: none;
  background-color: transparent;
  border: 0;
  min-height: 44px;
  transition: all 0.3s ease-in-out;
  z-index: 11;
}

.header__form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.header__container-main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main-nav {
  background-color: vars.$black;
  padding: 30px 0;
}

.header__nav {
  &-menu {
    display: flex;
    justify-content: space-between;
    width: 78%;
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-item {
    margin-right: 62px;
  }
  &-link {
    font-size: 18px;
    color: vars.$white;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: #9d5cd0;
      transition: color 0.3s ease-in-out;
    }
    &:active {
      color: #6f3f94;
    }
  }
  &-entrance {
    background-color: transparent;
    border: 0;
    color: vars.$white;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}

.header__additional-nav {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__container-additional-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__additional-list {
  display: flex;
}